@charset "UTF-8";

@font-face{
	font-family: 'Nexa-Heavy';
	src: url("../font/Nexa/Nexa-Heavy.ttf");
}

@font-face{
	font-family: 'Nexa-HeavyItalic';
	src: url("../font/Nexa/Nexa-HeavyItalic.ttf");
}

@font-face{
	font-family: 'Nexa-Book';
	src: url("../font/Nexa/Nexa-Book.ttf");
}


@font-face{
	font-family: 'Nexa-BookItalic';
	src: url("../font/Nexa/Nexa-BookItalic.ttf");
}

@font-face{
	font-family: 'Nexa-Light';
	src: url("../font/Nexa/Nexa-Light.ttf");
}

@font-face{
	font-family: 'Nexa-LightItalic';
	src: url("../font/Nexa/Nexa-LightItalic.ttf");
}

@font-face{
	font-family: 'Nexa-Bold';
	src: url("../font/Nexa/Nexa-Bold.ttf");
}

@font-face{
	font-family: 'Nexa-Black';
	src: url("../font/Nexa/Nexa-Black.ttf");
}

@font-face{
	font-family: 'Nexa-Regular';
	src: url("../font/Nexa/Nexa-Regular.ttf");
}

@font-face{
	font-family: 'Gilroy-Bold';
	src: url("../font/Gilroy/Gilroy-Bold.ttf");
}


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

*,
*:after,
*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{ outline: none; }
a:focus, a:active{ outline: none; }

html, body{
	width: 100%;
	height: 100%;

	font-size: 100%;
	font-size: 14px;
	font-family: 'Nexa', sans-serif;
	line-height: 1;

	/*overflow-x: hidden;*/

	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
}

input, button, textarea{ font-family: inherit; }

input::-ms-clear{display: none;}
button{ cursor: pointer; }
button::-moz-focus-inner {padding: 0; border: 0;}
a{
	-webkit-transition: linear color .2s;
	-moz-transition: linear color .2s;
	-ms-transition: linear color .2s;
	-o-transition: linear color .2s;
	transition: linear color .2s;
}
a, a:visited{ text-decoration:  none; }
a:hover{ text-decoration: none; }
ul, li { list-style: none; }
img{
	height: auto;
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

body.lock{
	overflow: hidden;
}

.container{
	width: 100%;
	max-width: 1460px;
	margin: auto;
}

/*---Settings---*/

.section-scroll-top{
	position: fixed;
	top: 90%;
	right: 5%;
	z-index: 998;

	background-color: #fff;
	border-radius: 30px;
	border: 1px solid #7566fb;
	padding: 10px 15px;
}

.scroll-top-inner a {
	margin: 0 10px;
}

.scroll-top-inner i{
	font-size: 32px;
	color: #7566fb;
}

.theme.sun{
	visibility: hidden;
	display: none;
}

/*---Preloader---*/

.preloader.done{
	opacity: 0;
	visibility: hidden;
}

.preloader{
	width: inherit;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	
	opacity: 1;
	visibility: visible;
	transition: ease all 1s;
	background: linear-gradient(45deg, #766cff, #6527dc);
}

.loader-title{
	font-size: 62px;
	font-family: "Nexa-Heavy";

	color: #fff;

	margin-bottom: 80px;
}

.loader-subtitle{
	font-size: 26px;
	font-weight: 400;
	font-family: "Montserrat";

	color: #fff;
	text-align: center;
	text-transform: uppercase;

	margin-bottom: 10px;
}

.loading{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	
	margin: auto;
}

.loading span{
	font-size: 36px;
	font-weight: 400;
	font-family: 'Montserrat';
	color: #fff;

	margin-right: 30px;
}

.load{
	width: 40px;
	height: 40px;

	animation-name: load;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;

	border: 3px solid #fff;
	border-radius: 60px;
	border-top-color: #00dadc;
}

@keyframes load{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

/*---Header---*/

.header{
	width: 100%;
	position: absolute;
	z-index: 100; 
}

.header-inner{
	display: flex;
	align-items: center;
	flex-direction: row;

	position: relative;

	padding: 30px 0;
}

.header-burger{
	position: absolute;
	top: 51%;
	right: 0;
	z-index: 10;
	
	transform: translate(-50%, -50%);
}

.header-icon{
	font-size: 32px;
	color: #fff;
}

.logo {
	font-size: 42px;
	font-family: "Gilroy-Bold";
	color: #fff;
}

.nav {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-top: 5px;
	margin-left: 100px;
}

.header-link {
	font-size: 18px;
	font-family: "Nexa-Bold";
	color :#fff;

	margin: 0 20px;
	transition: ease all .3s;
}

.header-link:hover{
	color: #00dadc;
}

.header-link--focus {
	font-size: 24px;
	font-family: "Nexa-Regular";

	background-color: #fff;
	color: #7566fb;
	
	border-radius: 30px;
	border: 1px solid #fff;
	margin: 0 0 0 500px;
	padding: 15px 20px;
}

.header-link--focus:hover{
	color: #fff;
	background-color: #7566fb;
	border-color: #fff;

}

/*---Header-Fixed---*/

.header.fixed{
	position: fixed;
	background-color: #f9f9f9;
}

.header.fixed .header-icon{
	font-size: 32px;
	color: #333;
}

.header.fixed .logo {
	font-size: 42px;
	font-family: "Gilroy-Bold";
	color: #7566fb;
}

.header.fixed .header-link {
	color :#333;
}

.header.fixed .header-link:hover{
	color: #7566fb;
}

.header.fixed .header-link--focus {
	background-color: #f9f9f9;
	color: #333;
	border: 1px solid #333;
}

.header.fixed .header-link--focus:hover{
	color: #f9f9f9;
	background-color: #7566fb;
	border-color: #7566fb;

}

/*---Intro---*/

.intro{
	width: 100%;
	height: 100vh;
	display: block;

	background: url("../img/intro.png");
	background-repeat: no-repeat;
	background-size: cover;

	position: relative;
	z-index: 1;
}

.intro-inner{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.intro-content {
	width: 100%;
	max-width: 550px;
	position: absolute;
	top: 50%;
	z-index: 10;
	transform: translate(0, -50%);
}

.intro-title {
	font-size: 72px;
	font-weight: 500;
	font-family: 'Nexa-Black';
	color: #fff;
	margin-bottom: 30px;
}

.intro-text {
	font-size: 18px;
	font-family: 'Nexa-BookItalic';

	color: #fff;
	line-height: 1.5;

	margin-bottom: 70px;
}

.main-btn {
	font-size: 16px;
	font-family: "Nexa-Heavy";

	color: #fff;
	background-color: #00dadc;
	text-transform: uppercase;

	border-radius: 60px;
	padding: 30px 70px;
	transition: ease all .3s;
}

.main-btn.intro-btn {
	color: #fff;
	background-color: #00dadc;
}

.intro-btn:hover{
	color: #333;
	background-color: #fff;
}

.img-none{

}

.intro-image {
	width: 800px;

	position: absolute;
	top: 53%;
	right: 10%;
	z-index: 100;

	transform: translate( 0, -50%);
}

/*---About---*/

.about {
	position: relative;
	margin: 150px 0 50px 0;
}

.about-elem{
	position: absolute;
	top: 0;
	right: 0;
}

.about-img img{
	width: 600px;
}

.main-btn.about-btn {
	color: #333;
	background-color: #ffc727;
	border: 1px solid #ffc727;
}

.main-btn.about-btn:hover{
	color: #ffc727;
	background-color: #fff;
}

/*---Sections---*/

.section-inner {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.section-content{
	width: 100%;
	max-width: 620px;
}

.section-content.about {
	margin-left: 150px;
}

.section-subtitle {
	font-size: 32px;
	font-family: 'Nexa-BookItalic';

	text-transform: uppercase;
	color: #6422db;
	margin-bottom: 30px;
}
.section-title {
	font-size: 64px;
	font-family: 'Nexa-Black';
	color: #25234d;
	margin-bottom: 30px;
}
.section-text {
	font-size: 24px;
	font-family: 'Nexa-Regular';
	font-style: italic;
	line-height: 1.6;
	color: #64637a;
	margin-bottom: 60px;
}

/*---Services---*/

.services{
	width: 100%;
	height: auto;

	background: url(../img/services.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 80px;
}

.section-card {
	display: flex;
	margin-left: 200px;
}

.card-col {
	margin-right: 50px;
}

.card-col:first-child{
	margin-top: 80px;
}

.card-item {
	width: 100%;
	max-width: 300px;
	height: 340px;

	overflow-y: scroll;
	background-color: #fff;
	padding: 50px 30px;
	margin-bottom: 40px;
}

.card-item::-webkit-scrollbar{
	width: 0;
}

.card-img {
	margin-bottom: 30px;
}

.card-title {
	font-size: 24px;
	font-family: "Nexa-Heavy";
	color: #6a697f;
	margin-bottom: 20px;
}
.card-text {
	font-size: 18px;
	font-family: "Nexa-Regular";
	font-style: italic;
	color: #6a697f;
	line-height: 1.5;
}

/*---Testimonials---*/

.testimonials{
	width: 100%;
	height: 100%;

	background: url("../img/testimonials.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	background-color: #f2f2f8;
}

.testimonials-back{
	position: absolute;
	top: -7%;
}

.testimonials-inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-top: 100px;
}

.testimonials-subtitle{
	font-size: 30px;
	font-family: "Nexa-Regular";
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.testimonials-title{
	font-size: 70px;
	font-family: "Nexa-Bold";
	color: #fff;
}

.reviews{
	position: relative;
	margin-top: 80px;	
}

.dots{
	position: absolute;
	z-index: 10;
}

.dots.right{
	top: 4%;
	right: -8%;
}

.dots.left{
	bottom: -2%;
	left: -8%;
}

.reviews-icon{
	position: absolute;
}

#rev-icon1{
	top: 20%;
	left: 77%;
}

#rev-icon2{
	top: 25%;
	left: 16%;
}

#rev-icon3{
	top: 40%;
	left: 80%;
}

#rev-icon4{
	top: 70%;
	left: 75%;
}

#rev-icon5{
	top: 48%;
	left: 5%;
}

#rev-icon6{
	top: 65%;
	left: 13%;
}

.reviews-item{
	width: 100%;
	height: 450px;
	max-width: 800px;
	position: relative;
	z-index: 3;

	background-color: #fff;
	border-radius: 20px;
}

.reviews-item.second{
	width: 100%;
	max-width: 770px;

	position: absolute;
	top: 5%;
	left: 15px;
	z-index: 2;

	opacity: 0.8;
	background-color: #885ee9;
}

.reviews-item.third{
	max-width: 720px;

	position: absolute;
	top: 10%;
	left: 40px;
	z-index: 1;

	opacity: 0.7;
	background-color: #7645e5;
}

.reviews-back{
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translate(-50%, 0);
}

.reviews-text{
	font-size: 24px;
	font-family: "Nexa-Regular";

	color: #6a697f;
	line-height: 1.6;
	text-align: center;
	
	position: relative;
	z-index: 100;

	margin: 0 100px;
	padding-top: 80px;
}

.reviews-name{
	font-size: 24px;
	font-family: "Nexa-Heavy";
	text-align: center;
	color:  #7566fb;
	margin-top: 45px;
}

.stars{
	text-align: center;
	margin-top: 15px;
}

.stars img{
	margin: 0 5px;
}

.link-arrows{
	text-align: center;
	margin-top: 40px;
}

.link-arrows a{
	font-size: 24px;
	color: #4c4c4c;

	margin: 0 5px;
	padding: 10px 15px;
	border-radius: 30px;
	border: 1px solid #6a697f;

	transition: ease all .2s;
}

.link-arrows a:hover{
	color: #fff;
	background-color: #00dadc;
	border: 1px solid #00dadc;
}

/*---Contact---*/

.contact{
	position: relative;
	background-color: #f2f2f8;
	padding: 170px 0;
}

.contact-back{
	position: absolute;
	top: 20px;
}

.contact-inner{
	display: flex;
	align-items: center;
	margin-left: 30px;
}

.section-form{
	position: relative;
	margin-left: 200px;
}

.form-back{
	position: absolute;
	top: -20%;
	right: -25%;
}

.form-message{
	background-color: #fff;
	padding: 80px 40px;
}

.form-item{
	position: relative;
	margin-bottom: 20px;
}

.form-item input{
	width: 400px;

	font-size: 20px;
	font-family: "Nexa-Heavy";

	text-transform: uppercase;
	color: #6422db;

	border-radius: 6px;
	border: 1px solid #bfbfbf;
	padding: 30px 40px;
}

.form-item input:focus~.form-label,
.form-input:not(:focus):valid~.form-label{
	top: 0;
}

.form-item.message{
	margin-bottom: 75px;
}

.form-item.message input{
	padding-bottom: 150px;
}

.form-label{
	font-size: 18px;
	font-family: "Nexa-Regular";
	color: #bfbfbf;

	position: absolute;
	top: 40px;
	left: 35px;

	transition: ease all .2s;
	transform: translate(0, -50%);
}

.form-label span{
	background-color: #fff;
	padding: 0 5px;
}

.main-btn.contact-btn{
	color: #333;
	background-color: #ffc727;

	padding: 25px 100px;
	border: 1px solid #ffc727;
}

.main-btn.contact-btn:hover{
	color: #ffc727;
	background-color: #fff;
}

/*---Footer---*/

.footer{
	width: 100%;
	height: auto;

	background: url("../img/footer.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f2f2f8;
	padding-bottom: 50px;
}

.footer-inner{
	width: 100%;

	display: flex;
	flex-direction: column;

	padding-top: 150px;
}

.footer-top{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: top;
}

.footer-navigation{
	display: flex;
	flex-direction: row;
	align-items: center;

	margin: 0;
}

.footer-margin-top{
	margin-top: 15px;
}

.footer-nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-link {
	font-size: 18px;
	font-family: "Nexa-Regular";
	font-style: italic;
	
	text-align: center;
	color :#fff;

	margin: 0 40px;
	transition: ease all .3s;
}

.footer-link:hover{
	color: #00dadc;
}

.footer-copy{
	font-size: 18px;
	font-family: "Nexa-Light";

	color: #fff;
	text-align: center;
	
	margin-top: 30px;
}

.footer-items a{
	font-size: 18px;

	color: #fff;
	background-color: #6f7ffd;

	padding: 10px 15px;
	border-radius: 30px;
	transition: ease all .3s;
}

.footer-items a:nth-child(2){
	padding: 10px 11px;
}

.footer-items a:nth-child(3){
	padding: 10px 12px;
}

.footer-items a:nth-child(4){
	padding: 10px 14px;
}

.footer-items a:hover{
	background-color: #00dadc;
}

/*---Adaptive---*/

@media(max-width: 1600px){

	.container{
		width: 100%;
		max-width: 1350px;
		margin: auto;
	}

	/*---Header---*/

	.header-link--focus {
		font-size: 20px;
		margin-left: 350px;
		padding: 10px 15px;
	}

	/*---Intro---*/

	.intro-content {
		max-width: 450px;
	}

	.intro-title {
		font-size: 60px;
		margin-bottom: 30px;
	}
	
	.main-btn {
		padding: 25px 60px;
	}


	.intro-image {
		width: 700px;

		position: absolute;
		top: 53%;
		right: 15%;
		z-index: 100;
	}

	/*---About---*/

	.section-content.about {
    	margin-left: 100px;
	}

	.section-card {
    	margin-left: 100px;
	}

}

@media(max-width: 1500px){

	.container{
		max-width: 1000px;
	}

	.header-link--focus {
    	font-size: 20px;
    	margin-left: 150px;
    	padding: 10px 15px;
	}

	.intro-image {
		width: 600px;
		right: 10%;
	}

	.section-subtitle {
    	font-size: 28px;
    }

    .section-title {
    	font-size: 50px;
    }

    .section-text {
    	font-size: 18px;
    }

    .about {
    	margin: 100px 0 50px 0;
	}

	.about-img img {
   		width: 400px;
	}

	.main-btn {
   	 	padding: 20px 50px;
	}

	/*---Services---*/

	.services {
    	height: auto;
    	padding-top: 170px;
    	padding-bottom: 50px;
	}

	.section-inner.services-inner{
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	.section-card {
		display: flex;
   	 	flex-direction: column;
		margin: 50px 0 0 0 ;
	}
	
	.card-col {
		display: flex;
		flex-direction: row;
		margin-right: 0;
		margin-bottom: 20px;
	}
	
	.card-col:first-child{
		margin-top: 0;
	}
	
	.card-item {
		max-width: 400px;
		padding: 40px;
		margin: 0 10px;
	}
	
	.card-img {
		margin-bottom: 30px;
	}
	
	.card-title {
		font-size: 24px;
		font-family: "Nexa-Heavy";
		color: #6a697f;
		margin-bottom: 20px;
	}
	.card-text {
		font-size: 18px;
		font-family: "Nexa-Regular";
		font-style: italic;
		color: #6a697f;
		line-height: 1.5;
	}

	/*---testimonials---*/

	.reviews-item {
    	height: 470px;
    	max-width: 600px;
	}

	.reviews-item.second {
	   	max-width: 570px;
   	}

   	.reviews-item.third {
    	max-width: 520px;
	}

	/*---contact---*/

	.contact {
   		padding: 50px 0;
	}

	.contact-inner {
    	display: flex;
    	flex-direction: column;
    	margin: 0;
	}

	.section-form {
    	margin: 60px 0 0 0;
	}
}

@media(max-width: 1300px){

	.container{
		max-width: 900px;
	}

	.nav{
		margin-left: 50px;
	}

	.header-link--focus {
   		margin-left: 60px;
   	}

	.intro-image {
		width: 530px;
   		right: 2%;
	}

	.footer-top {
   		display: flex;
   		flex-direction: column;
   		align-items: center;
	}

	.footer-margin-top {
   	 	margin-top: 50px;
	}
}

@media(max-width: 1000px){

	.container{
		max-width: none;
	}

	.img-none{
		display: none;
	}

	.header-inner{
		position: relative;
		justify-content: space-between;
		padding: 30px;
	}

	.header-burger{
		width: 35px;
		height: 20px;
		position: relative;
		z-index: 1000;
		display: block;
		margin-top: 22px;
		transition: ease all .2s;
	}

	.header-burger:after, .header-burger:before{
		content: "";
		width: 100%;
		height: 2px;
		position: absolute;
		opacity: 1;
		background-color: #fff;
		transition: ease all .2s;
	}

	.header-burger:after{
		bottom: 0;
	}

	.header-burger:before{
		top: 0;
	}

	.header-burger span {
		width: 100%;
		height: 2px;
		position: absolute;
		top: 9px;
		background-color: #fff;
		transition: ease all .2s;
	}

	.header-burger.active span{
		opacity: 0;
		visibility: hidden;
	}

	.header-burger.active:before{
		width: 35px;
   	 	transform: rotate(52deg);
    	margin-top: 8px;
    	margin-left: 1px;

	}

	.header-burger.active:after{
	    width: 35px;
    	transform: rotate(-51deg);
    	margin-bottom: 10px;
	}
	
	.header.fixed .logo {
		font-size: 42px;
		font-family: "Gilroy-Bold";
		color: #7566fb;
	}
	
	.header.fixed .header-link {
		color :#fff;
	}
	
	.header.fixed .header-link:hover{
		color: #7566fb;
	}
	
	.header.fixed .header-link--focus {
		background-color: rgba(0,0,0,0);
		color: #fff;
		border: none;
	}
	
	.header.fixed .header-link--focus:hover{
		color: #7566fb;;
		background-color: #fff;
	
	}

	.header.fixed .header-burger:after{
		background-color: #7566fb;
	}

	.header.fixed .header-burger:before{
		background-color: #7566fb;
	}

	.header.fixed .header-burger span {
		background-color: #7566fb;
	}

	.header.fixed .header-burger.active:before{
		background-color: #fff;
	}

	.header.fixed .header-burger.active:after{
		background-color: #fff;
	}

	.logo{
		font-size: 42px;
	}

	.services{
		width: 100%;
		height: auto;
		background: none;
		background-color: #f2f2f2;
		padding-top: 50px;
	}

	.nav {
		width: 100%;
   		height: 100vh;

   		display: flex;
   		flex-direction: column;
   		align-items: center;

   		background-color: #7566fb;

   		position: fixed;
   		top: -200%;
   		left: 0;
   		z-index: 999;

   		margin: 0;
   		padding-top: 60px;
   		transition: ease all .5s;
	}

	.nav.active{
		top: 0;
		overflow-y: scroll; 
	}
	
	.header-link {
		font-size: 26px;
		font-family: "Nexa-Bold";
		color: #fff;
	
		border-radius: 30px;
		margin-bottom: 40px;
		padding: 15px 20px;

		transition: ease all .3s;
	}
	
	.header-link:hover{
		color: #00dadc;
		background-color: #fff;
	}
	
	.header-link--focus {
	
		background-color: rgba(0,0,0,0);
		color: #fff;
		
		border-radius: 30px;
		border: none;
		margin: 0;
		padding: 20px 25px;
	
		transition: ease all .3s;
	}
	
	.header-link.focus:hover{
		color: #fff;
		background-color: #7566fb;
		border-color: #fff;
	
	}

	.intro-content {
  	  	width: 100%;
  	  	max-width: 550px;

  	  	position: absolute;
  	  	top: 45%;
  	  	left: 50%;
  	  	z-index: 10;

  	  	text-align: center;
  	  	transform: translate(-50%, -50%);
	}

	.intro-image {
		visibility: hidden;
	}

	.about-elem{
		width: 200px;
	}

	.section-content.about {
   		margin-left: 40px;
	}

	.reviews-icon{
		visibility: hidden;
	}

	.reviews-text {
	    line-height: 1.5;
	    padding-top: 50px;
	}

	.reviews-name {
	    margin-top: 30px;
	}

	.reviews-item {
   		height: 430px;
	}

	.section-content{
		text-align: center;
	}

	.footer{
		padding-top: 100px;
	}

	.footer-inner{
		padding-top: 70px;
	}

	.footer-margin-top {
    	margin-top: 30px;
	}

	.footer-copy {
    	text-align: center;
    	margin-top: 20px;
    }
}

@media(max-width: 800px){

	.main-btn {
		font-size: 14px;
    	padding: 20px 30px;
	}

	.intro-content {
	    max-width: 400px;
	}

	.intro-title {
   		font-size: 50px;
    	margin-bottom: 20px;
	}

	.section-inner{
		justify-content: center;
	}

	.section-content {
    	max-width: 400px;
	}

	.section-subtitle{
		font-size: 24px;
		margin-bottom: 20px;
	}

	.section-title{
		font-size: 42px;
		margin-bottom: 20px;
	}

	.section-form{
		margin-top: 0;
	}

	.about{
		margin-bottom: 50px;
	}

	.about-img img{
		visibility: hidden;
		position: absolute;
	}

	.section-content.about{
		margin: 0;
	}

	.form-back{
		visibility: hidden;
		display: none;
	}

	.form-message {
    	padding: 40px 20px;
	}

	.card-col{
		flex-direction: column;
		margin: 0;
	}

	.card-item{
		margin: 0 0 20px 0;
	}

	.testimonials {
    	height: 700px;
    }

	.testimonials-subtitle {
    	font-size: 24px;
    	margin-bottom: 10px;
	}


	.testimonials-title{
		font-size: 50px;
	}

	.testimonials-back{
		visibility: hidden;
	}

	.testimonials-inner{
		padding-top: 40px;
	}

	.reviews{
		margin-top: 40px;
	}

	.reviews-item{
		max-width: 300px;
	}

	.reviews-item.second {
	    max-width: 270px;
	}

	.reviews-item.third {
    	max-width: 220px;
	}

	.reviews-text{
	    font-size: 18px;
    	line-height: 1.5;
        margin: 0 10px;
    	padding-top: 40px;
	}

	.reviews-name {
    	font-size: 20px;
	}

	.link-arrows a {
    	font-size: 24px;
    	padding: 5px 10px;
    }

    .footer{
		background: none;
		background-color: #6e52ef;
		padding: 70px 0;
	}

	.footer-inner{
		padding: 0;
	}

    .footer-navigation{
    	display: none;
    }

    .footer-margin-top{
    	margin-top: 0;
    }

    .footer-items{
    	margin-top: 20px;
    }

    .footer-logo{
    	margin-top: 20px;
    }
}

@media(max-width: 500px){
	/*---Preloader---*/


.loader-title{
	font-size: 40px;
	margin-bottom: 20px;
}

.loader-subtitle{
	font-size: 18px;
	margin-bottom: 15px;
}

.loading span{
	font-size: 26px;
	font-weight: 400;
	font-family: 'Montserrat';
	color: #fff;

	margin-right: 30px;
}

.load{
	width: 30px;
	height: 30px;
}
}

@media(max-width: 450px){

	.header-icon {
    	font-size: 28px;
    	color: #fff;
	}

	.header.fixed .logo{
		font-size: 36px;
	}

	.logo{
		font-size: 36px;
	}

	.form-item input {
    	width: 280px;
    }

    .form-item input {
   		width: 280px;
   		font-size: 16px;
   		padding: 20px;
	}

	.form-label {
    	font-size: 18px;
    	top: 30px;
    	left: 20px;
	}
}

@media(max-width: 400px){

	.intro-content {
    	max-width: 300px;
	}

	.intro-title{
		font-size: 30px;
	}

	.intro-text {
	    font-size: 16px;
	    line-height: 1.5;
	    margin-bottom: 40px;
	}

	.section-title {
  	 	font-size: 30px;
    	margin-bottom: 20px;
	}

	.card-item{
		max-width: 280px;
	}

	.testimonials-subtitle {
    	font-size: 20px;
	}

	.testimonials-title{
		font-size: 35px;
	} 

	.reviews-item {
    	height: 350px;
	}
}